PORT=8080
GOOGLE_CLOUD_PROJECT=REPLACE_WITH_PROJECT_ID
SPEECH_LOCATION=global
SPEECH_RECOGNIZER=_
APPROVED_UIDS=REPLACE_WITH_APPROVED_FIREBASE_UID
ADMIN_UIDS=REPLACE_WITH_ADMIN_FIREBASE_UID
FIRESTORE_COLLECTION=pronunciationAttempts
WEBAUTHN_CREDENTIALS_COLLECTION=voicePilotCredentials
WEBAUTHN_CHALLENGES_COLLECTION=voicePilotChallenges
RP_ID=REPLACE_WITH_HOSTNAME_ONLY
RP_NAME=Thai Voice Pilot
EXPECTED_ORIGIN=https://REPLACE_WITH_HOSTNAME
ALLOWED_ORIGINS=https://xhpark.github.io
PILOT_SESSION_SECRET=REPLACE_WITH_LONG_RANDOM_SECRET
PILOT_SESSION_TTL_SECONDS=600
REVIEW_SESSION_TTL_SECONDS=300
REVIEW_RATE_LIMIT_PER_HOUR=120
MAX_AUDIO_MS=4000
MAX_AUDIO_BYTES=524288
